ul {
  list-style: none;
  padding: 0;
}

.flex {
  display: flex;
}

.justisfy {
  flex-direction: column;
}

.grid-container {
  display: grid;
  /* display: inline-grid; */
}

.grid-columns {
  grid-template-columns: 50vh 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.border-black {
  border: 1px solid black;
}

.m-1 {
  margin: 1px;
}

.m-2 {
  margin: 2px;
}

.m-3 {
  margin: 3px;
}

.m-4 {
  margin: 4px;
}

.m-5 {
  margin: 5px;
}
